<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>A Gypsy curse</string>
    <string>A moment of silence</string>
    <string>A sausage festival</string>
    <string>An honest cop with nothing left to lose</string>
    <string>Famine</string>
    <string>Flesh-eating bacteria</string>
    <string>Shapeshifters</string>
    <string>A time travel paradox</string>
    <string>Authentic Mexican cuisine</string>
    <string>Bling</string>
    <string>Consultants</string>
    <string>Crippling debt</string>
    <string>Daddy issues</string>
    <string>The Donald Trump Seal of Approval© </string>
    <string>Former President George W. Bush</string>
    <string>Hormone injections</string>
    <string>Laying an egg</string>
    <string>Pretending to care</string>
    <string>Public ridicule</string>
    <string>Boogers</string>
    <string>The inevitable heat death of the universe</string>
    <string>The miracle of childbirth</string>
    <string>The Rapture</string>
    <string>Wifely duties</string>
    <string>The Hamburglar</string>
    <string>AXE Body Spray</string>
    <string>The Blood of Christ</string>
    <string>Horrifying laser hair removal accidents</string>
    <string>BATMAN!!!</string>
    <string>Agriculture</string>
    <string>Natural selection</string>
    <string>Michelle Obama's arms</string>
    <string>The World of Warcraft</string>
    <string>Swooping</string>
    <string>Obesity</string>
    <string>Lockjaw</string>
    <string>All-you-can-eat shrimp for $4.99</string>
    <string>Domino's Oreo Dessert Pizza</string>
    <string>Kanye West</string>
    <string>Hot cheese</string>
    <string>Raptor attacks</string>
    <string>Alcoholism</string>
    <string>A middle-aged man on roller skates</string>
    <string>The Care Bear Stare</string>
    <string>Oversized lollipops</string>
    <string>Self-loathing</string>
    <string>The Holy Bible</string>
    <string>Being on fire</string>
    <string>Gandhi</string>
    <string>Leaving an awkward voicemail</string>
    <string>Uppercuts</string>
    <string>Customer service representatives</string>
    <string>Science</string>
    <string>Flightless birds.</string>
    <string>A good sniff</string>
    <string>Waterboarding</string>
    <string>A balanced breakfast</string>
    <string>Historically black colleges</string>
    <string>Actually taking candy from a baby</string>
    <string>The Make-A-Wish Foundation</string>
    <string>Passive-aggressive Post-it notes</string>
    <string>The Chinese gymnastics team</string>
    <string>Switching to Geico</string>
    <string>Home video of Oprah sobbing into a Lean Cuisine</string>
    <string>Powerful thighs</string>
    <string>Mr. Clean, right behind you</string>
    <string>The forbidden fruit</string>
    <string>Skeletor</string>
    <string>Fancy Feast</string>
    <string>Being rich</string>
    <string>Sweet, sweet vengeance</string>
    <string>Republicans</string>
    <string>Natalie Portman</string>
    <string>Kamikaze pilots</string>
    <string>Sean Connery</string>
    <string>A falcon with a cap on its head</string>
    <string>Altar boys</string>
    <string>The Kool-Aid Man</string>
    <string>Free samples</string>
    <string>A big hoopla about nothing</string>
    <string>Doing the right thing</string>
    <string>The Three-Fifths compromise</string>
    <string>World peace</string>
    <string>RoboCop</string>
    <string>Chutzpah</string>
    <string>Justin Bieber</string>
    <string>Oompa-Loompas</string>
    <string>Ghosts</string>
    <string>Vigorous jazz hands</string>
    <string>GoGurt</string>
    <string>Police brutality</string>
    <string>John Wilkes Booth</string>
    <string>Scalping</string>
    <string>"Tweeting"</string>
    <string>Darth Vader</string>
    <string>Exactly what you'd expect</string>
    <string>Embryonic stem cells</string>
    <string>An icepick lobotomy</string>
    <string>Tom Cruise</string>
    <string>Sperm whales</string>
    <string>Homeless people</string>
    <string>Hulk Hogan</string>
    <string>God</string>
    <string>Scrubbing under the folds</string>
    <string>Golden showers</string>
    <string>Emotions</string>
    <string>Pabst Blue Ribbon</string>
    <string>The placenta</string>
    <string>Spontaneous human combustion</string>
    <string>Finger painting</string>
    <string>Old-people smell</string>
    <string>Dying of dysentery</string>
    <string>My inner demons</string>
    <string>Aaron Burr</string>
    <string>Cuddling</string>
    <string>The chronic</string>
    <string>Cockfights</string>
    <string>Friendly fire</string>
    <string>Ronald Reagan</string>
    <string>A disappointing birthday party</string>
    <string>A sassy black woman</string>
    <string>Mathletes</string>
    <string>A tiny horse</string>
    <string>William Shatner</string>
    <string>Riding off into the sunset</string>
    <string>An M. Night Shyamalan plot twist</string>
    <string>Jew-fros</string>
    <string>Mutually-assured destruction</string>
    <string>Yeast</string>
    <string>Grave robbing</string>
    <string>Eating the last known bison</string>
    <string>Catapults</string>
    <string>Poor people</string>
    <string>Forgetting the Alamo</string>
    <string>The Hustle</string>
    <string>The Force</string>
    <string>Intelligent design</string>
    <string>Loose lips</string>
    <string>AIDS</string>
    <string>The Ubermensch</string>
    <string>Sarah Palin</string>
    <string>American Gladiators</string>
    <string>Scientology</string>
    <string>Frolicking</string>
    <string>The KKK</string>
    <string>Genghis Khan</string>
    <string>Serfdom</string>
    <string>Stranger danger</string>
    <string>A Bop It© </string>
    <string>Shaquille O'Neal's acting career</string>
    <string>Prancing</string>
    <string>Vigilante justice</string>
    <string>Overcompensation</string>
    <string>A lifetime of sadness</string>
    <string>Racism</string>
    <string>Dwarf tossing</string>
    <string>Sunshine and rainbows</string>
    <string>Flash flooding</string>
    <string>The terrorists</string>
    <string>Britney Spears at 55</string>
    <string>Attitude</string>
    <string>Breaking out into song and dance</string>
    <string>Leprosy</string>
    <string>The heart of a child</string>
    <string>Puppies!</string>
    <string>Dental dams</string>
    <string>Unfathomable stupidity</string>
    <string>Euphoria©  by Calvin Klein</string>
    <string>Re-gifting</string>
    <string>Autocannibalism</string>
    <string>Active listening</string>
    <string>The Little Engine That Could</string>
    <string>The invisible hand</string>
    <string>The Pope</string>
    <string>White people</string>
    <string>Too much hair gel</string>
    <string>Seppuku</string>
    <string>Cheating in the Special Olympics</string>
    <string>Charisma</string>
    <string>Keanu Reeves</string>
    <string>Sean Penn</string>
    <string>Nickelback</string>
    <string>A salty surprise</string>
    <string>The South</string>
    <string>The violation of our most basic human rights</string>
    <string>YOU MUST CONSTRUCT ADDITIONAL PYLONS</string>
    <string>Being fabulous</string>
    <string>Centaurs</string>
    <string>Bill Nye the Science Guy</string>
    <string>Black people</string>
    <string>Chivalry</string>
    <string>Lunchables</string>
    <string>The profoundly handicapped</string>
    <string>Heartwarming orphans</string>
    <string>Tangled Slinkys</string>
    <string>The true meaning of Christmas</string>
    <string>A zesty breakfast burrito</string>
    <string>That thing that electrocutes your abs</string>
    <string>Passing a kidney stone</string>
    <string>Michael Jackson</string>
    <string>Cybernetic enhancements</string>
    <string>Guys who don't call</string>
    <string>Smallpox blankets</string>
    <string>Soup that is too hot</string>
    <string>Muhammad (Praise Be Unto Him)</string>
    <string>Five-Dollar Footlongs</string>
    <string>Drinking alone</string>
    <string>Multiple stab wounds</string>
    <string>Civilian casualties</string>
    <string>Robert Downey, Jr.</string>
    <string>Horse meat</string>
    <string>A really cool hat</string>
    <string>Kim Jong-il</string>
    <string>Jewish fraternities</string>
    <string>The token minority</string>
    <string>Feeding Rosie O'Donnell</string>
    <string>Teaching a robot to love</string>
    <string>A windmill full of corpses</string>
    <string>Count Chocula</string>
    <string>Wearing underwear inside-out to avoid doing laundry</string>
    <string>A death ray</string>
    <string>The glass ceiling</string>
    <string>A cooler full of organs</string>
    <string>The American Dream</string>
    <string>Keg stands</string>
    <string>Take-backsies</string>
    <string>Dead babies</string>
    <string>Saxophone solos</string>
    <string>Italians</string>
    <string>A fetus</string>
    <string>Dick Cheney</string>
    <string>Amputees</string>
    <string>Eugenics</string>
    <string>My relationship status</string>
    <string>Christopher Walken</string>
    <string>Bees?</string>
    <string>College</string>
    <string>Nazis</string>
    <string>Dead parents</string>
    <string>Object permanence</string>
    <string>Opposable thumbs</string>
    <string>Racially-biased SAT questions</string>
    <string>Jibber-jabber</string>
    <string>Chainsaws for hands</string>
    <string>Nicolas Cage</string>
    <string>Child beauty pageants</string>
    <string>Explosions</string>
    <string>Glenn Beck being harried by a swarm of buzzards</string>
    <string>Repression</string>
    <string>My soul</string>
    <string>A hot mess</string>
    <string>Vikings</string>
    <string>Hot people</string>
    <string>Geese</string>
    <string>Global warming</string>
    <string>New Age music</string>
    <string>Hot Pockets</string>
    <string>Making a pouty face</string>
    <string>Vehicular manslaughter</string>
    <string>Women's suffrage</string>
    <string>A murder most foul</string>
    <string>Giving 110 percent</string>
    <string>Her Royal Highness, Queen Elizabeth II</string>
    <string>The Trail of Tears</string>
    <string>Being marginalized</string>
    <string>Goblins</string>
    <string>Hope</string>
    <string>The Rev. Dr. Martin Luther King, Jr.</string>
    <string>Judge Judy</string>
    <string>African children</string>
    <string>The Virginia Tech Massacre</string>
    <string>Barack Obama</string>
    <string>Asians who aren't good at math</string>
    <string>Elderly Japanese men</string>
    <string>Exchanging pleasantries</string>
    <string>Heteronormativity</string>
    <string>Parting the Red Sea</string>
    <string>Arnold Schwarzenegger</string>
    <string>Road head</string>
    <string>Spectacular abs</string>
    <string>Figgy pudding</string>
    <string>A mopey zoo lion</string>
    <string>A bag of magic beans</string>
    <string>Poor life choices</string>
    <string>Auschwitz</string>
    <string>A thermonuclear detonation</string>
    <string>The Big Bang</string>
    <string>Land mines</string>
    <string>Friends who eat all the snacks</string>
    <string>Goats eating cans</string>
    <string>The Dance of the Sugar Plum Fairy</string>
    <string>Man meat</string>
    <string>The Underground Railroad</string>
    <string>A sea of troubles</string>
    <string>Lumberjack fantasies</string>
    <string>Morgan Freeman's voice</string>
    <string>Balls</string>
    <string>Grandma</string>
    <string>Friction</string>
    <string>Party poopers</string>
    <string>Booby-trapping the house to foil burglars</string>
    <string>The Tempur-Pedic Swedish Sleep Systemô</string>
    <string>Dying</string>
    <string>Hurricane Katrina</string>
    <string>The folly of man</string>
    <string>Men</string>
    <string>The Amish</string>
    <string>Pterodactyl eggs</string>
    <string>Team-building exercises</string>
    <string>A brain tumor</string>
    <string>Cards Against Humanity</string>
    <string>Fear itself</string>
    <string>Lady Gaga</string>
    <string>The milk man</string>
    <string>A foul mouth</string>
    <string>A beached whale</string>
    <string>A bloody pacifier</string>
    <string>A crappy little hand</string>
    <string>A low standard of living</string>
    <string>A nuanced critique</string>
    <string>A rival dojo</string>
    <string>A web of lies</string>
    <string>A woman scorned</string>
    <string>Clams</string>
    <string>Apologizing</string>
    <string>Appreciative snapping</string>
    <string>Neil Patrick Harris</string>
    <string>Beating your wives</string>
    <string>Being a dinosaur</string>
    <string>Shaft</string>
    <string>Bosnian chicken farmers</string>
    <string>Carnies</string>
    <string>Suicidal thoughts</string>
    <string>Dancing with a broom</string>
    <string>Dorito breath</string>
    <string>Eating an albino</string>
    <string>Enormous Scandinavian women</string>
    <string>Fabricating statistics</string>
    <string>Finding a skeleton</string>
    <string>Gandalf</string>
    <string>Genetically engineered super-soldiers</string>
    <string>George Clooney's musk</string>
    <string>Getting abducted by Peter Pan</string>
    <string>Gladiatorial combat</string>
    <string>Good grammar</string>
    <string>Hipsters</string>
    <string>Historical revisionism</string>
    <string>Insatiable bloodlust</string>
    <string>Jafar</string>
    <string>Jean-Claude Van Damme</string>
    <string>Mad hacky-sack skills</string>
    <string>Leveling up</string>
    <string>Media coverage.</string>
    <string>Medieval Times Dinner and Tournament</string>
    <string>Moral ambiguity</string>
    <string>My machete</string>
    <string>One thousand Slim Jims</string>
    <string>Ominous background music</string>
    <string>Overpowering your father</string>
    <string>Pistol-whipping a hostage</string>
    <string>Quiche</string>
    <string>Quivering jowls</string>
    <string>Ryan Gosling riding in on a white horse</string>
    <string>Santa Claus</string>
    <string>Slow motion</string>
    <string>Space muffins</string>
    <string>Statistically validated stereotypes</string>
    <string>The economy</string>
    <string>A drive-by shooting</string>
    <string>Dropping a chandelier on your enemies and riding the rope up</string>
    <string>The Fanta girls</string>
    <string>The Gulags</string>
    <string>The harsh light of day</string>
    <string>The hiccups</string>
    <string>The shambling corpse of Larry King</string>
    <string>The four arms of Vishnu</string>
    <string>Being a busy adult with many important things to do</string>
    <string>Words, words, words</string>
    <string>Not giving a shit about the Third World</string>
    <string>Bingeing and purging</string>
    <string>Dry heaving</string>
</array>
</plist>