<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>TSA guidelines now prohibit __________ on airplanes.</string>
    <string>It's a pity that kids these days are all getting involved with __________.</string>
    <string>In 1,000 years, when paper money is but a distant memory, __________ will be our currency.</string>
    <string>Major League Baseball has banned __________ for giving players an unfair advantage.</string>
    <string>Next from J.K. Rowling: Harry Potter and the Chamber of __________.</string>
    <string>I'm sorry, Professor, but I couldn't complete my homework because of __________.</string>
    <string>What did I bring back from Mexico?</string>
    <string>__________? There's an app for that.</string>
    <string>__________. Betcha can't have just one!</string>
    <string>What's my anti-drug?</string>
    <string>While the United States raced the Soviet Union to the moon, the Mexican government funneled millions of pesos into research on __________.</string>
    <string>In the new Disney Channel Original Movie, Hannah Montana struggles with __________ for the first time. </string>
    <string>What's my secret power?</string>
    <string>What's the new fad diet?</string>
    <string>What did Vin Diesel eat for dinner?</string>
    <string>When Pharaoh remained unmoved, Moses called down a Plague of __________.</string>
    <string>How am I maintaining my relationship status?</string>
    <string>What's the crustiest?</string>
    <string>In L.A. County Jail, word is you can trade 200 cigarettes for __________.</string>
    <string>After the earthquake, Sean Penn brought __________ to the people of Haiti.</string>
    <string>Instead of coal, Santa now gives the bad children __________.</string>
    <string>Life for American Indians was forever changed when the White Man introduced them to __________.</string>
    <string>What's Teach for America using to inspire inner city students to succeed?</string>
    <string>Maybe she's born with it. Maybe it's __________.</string>
    <string>In Michael Jackson's final moments, he thought about __________.</string>
    <string>White people like __________.</string>
    <string>Why do I hurt all over?</string>
    <string>A romantic, candlelit dinner would be incomplete without __________.</string>
    <string>What will I bring back in time to convince people that I am a powerful wizard?</string>
    <string>BILLY MAYS HERE FOR __________.</string>
    <string>The class field trip was completely ruined by __________.</string>
    <string>What's a girl's best friend?</string>
    <string>Dear Abby, I'm having some trouble with __________ and would like your advice.</string>
    <string>When I am President of the United States, I will create the Department of __________.</string>
    <string>What are my parents hiding from me?</string>
    <string>What never fails to liven up the party?</string>
    <string>What gets better with age?</string>
    <string>__________: Good to the last drop.</string>
    <string>I got 99 problems but __________ ain't one.</string>
    <string>__________. It's a trap!</string>
    <string>MTV's new reality show features eight washed-up celebrities living with __________.</string>
    <string>What would grandma find disturbing, yet oddly charming?</string>
    <string>What's the most emo?</string>
    <string>What ended my last relationship?</string>
    <string>What's that sound?</string>
    <string>__________. That's how I want to die.</string>
    <string>Why am I sticky?</string>
    <string>What's the next Happy Meal toy?</string>
    <string>What's there a ton of in heaven?</string>
    <string>I do not know with what weapons World War III will be fought, but World War IV will be fought with __________.</string>
    <string>__________: Kid-tested, mother-approved.</string>
    <string>Why can't I sleep at night?</string>
    <string>What's that smell?</string>
    <string>What helps Obama unwind?</string>
    <string>This is the way the world ends / This is the way the world ends / Not with a bang but with __________.</string>
    <string>Coming to Broadway this season, __________: The Musical.</string>
    <string>Anthropologists have recently discovered a primitive tribe that worships __________.</string>
    <string>But before I kill you, Mr. Bond, I must show you __________.</string>
    <string>Studies show that lab rats navigate mazes 50% faster after being exposed to __________.</string>
    <string>Next on ESPN2: The World Series of __________.</string>
    <string>When I am a billionaire, I shall erect a 50-foot statue to commemorate __________.</string>
    <string>In an attempt to reach a wider audience, the Smithsonian Museum of Natural History has opened an interactive exhibit on __________.</string>
    <string>War! What is it good for?</string>
    <string>What gives me uncontrollable gas?</string>
    <string>What do old people smell like?</string>
    <string>What am I giving up for Lent?</string>
    <string>Alternative medicine is now embracing the curative powers of __________.</string>
    <string>What did the US airdrop to the children of Afghanistan?</string>
    <string>What does Dick Cheney prefer?</string>
    <string>During Picasso's often-overlooked Brown Period, he produced hundreds of paintings of __________.</string>
    <string>What don't you want to find in your Chinese food?</string>
    <string>I drink to forget __________.</string>
    <string>__________. High five, bro.</string>
    <string>He who controls __________ controls the world.</string>
    <string>The CIA now interrogates enemy agents by repeatedly subjecting them to __________.</string>
    <string>In Rome, there are whisperings that the Vatican has a secret room devoted to __________.</string>
    <string>Science will never explain the origin of __________.</string>
    <string>I learned the hard way that you can't cheer up a grieving friend with __________.</string>
    <string>In its new tourism campaign, Detroit proudly proclaims that it has finally eliminated __________.</string>
    <string>The socialist governments of Scandinavia have declared that access to __________ is a basic human right.</string>
    <string>In his new self-produced album, Kanye West raps over the sounds of __________.</string>
    <string>What's the gift that keeps on giving?</string>
    <string>This season on Man vs. Wild, Bear Grylls must survive in the depths of the Amazon with only __________ and his wits. </string>
    <string>When I pooped, what came out of my butt?</string>
    <string>In the distant future, historians will agree that __________ marked the beginning of America's decline.</string>
    <string>And I would have gotten away with it, too, if it hadn't been for __________.</string>
</array>
</plist>