<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Flying sex snakes</string>
    <string>Sharing needles</string>
    <string>Praying the gay away</string>
    <string>White privilege</string>
    <string>Sexting</string>
    <string>Porn stars</string>
    <string>Raping and pillaging</string>
    <string>72 virgins</string>
    <string>Full frontal nudity</string>
    <string>Getting naked and watching Nickelodeon</string>
    <string>Glenn Beck convulsively vomiting as a brood of crab spiders hatches in his brain and erupts from his tear ducts</string>
    <string>Whipping it out</string>
    <string>Pooping back and forth. Forever.</string>
    <string>A homoerotic volleyball montage</string>
    <string>A mating display</string>
    <string>Testicular torsion</string>
    <string>The Jews</string>
    <string>A gassy antelope</string>
    <string>The hardworking Mexican</string>
    <string>Expecting a burp and vomiting on the floor</string>
    <string>Taking off your shirt</string>
    <string>Mouth herpes</string>
    <string>A mime having a stroke</string>
    <string>Licking things to claim them as your own</string>
    <string>A Super Soaker(c) full of cat pee</string>
    <string>Ethnic cleansing</string>
    <string>A look-see</string>
    <string>Child abuse</string>
    <string>When you fart and a little bit comes out</string>
    <string>Getting drunk on mouthwash</string>
    <string>Being a motherfucking sorcerer</string>
    <string>Poorly-timed Holocaust jokes</string>
    <string>Women in yogurt commercials</string>
    <string>Farting and walking away</string>
    <string>The gays</string>
    <string>Literally eating shit</string>
    <string>Ripping into a man's chest and pulling out his still-beating heart</string>
    <string>Sudden Poop Explosion Disease</string>
    <string>Tripping balls</string>
    <string>Coat hanger abortions</string>
    <string>Eating all of the cookies before the AIDS bake-sale</string>
    <string>Children on leashes</string>
    <string>A clandestine butt scratch</string>
    <string>Peeing a little bit</string>
    <string>Winking at old people</string>
    <string>Preteens</string>
    <string>Adderall</string>
    <string>Getting really high</string>
    <string>Crystal meth</string>
    <string>MechaHitler</string>
    <string>Another goddamn vampire movie</string>
    <string>8 oz. of sweet Mexican black-tar heroin</string>
    <string>Sniffing glue</string>
    <string>Roofies</string>
    <string>Teenage pregnancy</string>
    <string>An erection that lasts longer than four hours</string>
    <string>Picking up girls at the abortion clinic</string>
    <string>My humps</string>
    <string>The homosexual agenda</string>
    <string>Lactation</string>
    <string>Inappropriate yodeling</string>
    <string>Puberty</string>
    <string>An asymmetric boob job</string>
    <string>Glenn Beck catching his scrotum on a curtain hook</string>
    <string>Stifling a giggle at the mention of Hutus and Tutsis</string>
    <string>Panda sex</string>
    <string>Third base</string>
    <string>Incest</string>
    <string>Friends with benefits</string>
    <string>Pedophiles</string>
    <string>Penis envy</string>
    <string>Two midgets shitting into a bucket</string>
    <string>A monkey smoking a cigar</string>
    <string>Lance Armstrong's missing testicle</string>
    <string>Waking up half-naked in a Denny's parking lot</string>
    <string>Waiting until marriage</string>
    <string>Erectile dysfunction</string>
    <string>Same-sex ice dancing</string>
    <string>Menstruation</string>
    <string>Bitches</string>
    <string>Fiery poops</string>
    <string>Estrogen</string>
    <string>Edible underpants</string>
    <string>Viagra</string>
    <string>Dick fingers</string>
    <string>Soiling oneself</string>
    <string>A stray pube</string>
    <string>A can of whoop-ass</string>
    <string>Harry Potter erotica</string>
    <string>Stephen Hawking talking dirty</string>
    <string>Assless chaps</string>
    <string>Seduction</string>
    <string>An Oedipus complex</string>
    <string>A defective condom</string>
    <string>Sexy pillow fights</string>
    <string>Panty raids</string>
    <string>Me time</string>
    <string>Sexy Siamese twins</string>
    <string>Zeus's sexual appetites</string>
</array>
</plist>